.ems-page-hierarchy {
    &-grid {
        > .ga2 {
            background: $color1;
            color: $color2;
        }
        > .ga3 {
            padding-bottom: 100px;
            @extend .ems-container;
        }
    }

    [id$="lblICR_METIN_TEMPLATE"] {
        font-family: $font2;
        font-size: 16px;
        b {
            font-weight: 500;
        }
    }
    .page-top-title {
        font-family: $font2;
        font-size: 18px;
        margin-top: 30px;
        font-weight: 700;
        padding: 20px 0;
        border-bottom: 1px solid $color5;
    }
}