.ems-page-hierarchy {
    &-grid {
        grid-template-columns: 300px 20px minmax(auto, 890px) 1fr;
        grid-template-areas:
        "ga1 . ga2 .";

        @include setGridArea(1,2);

        > .ga1 {
            min-height: 710px;
        }
    }
}