.primary-categories {
    padding-top: 25px;
    padding-bottom: 95px;
}
.new-season {
    padding-top: 120px;
    padding-bottom: 100px;
}
.collections {
    padding-top: 120px;
    padding-bottom: 40px;
}
.best-sellers {
    padding-top: 60px;
    padding-bottom: 100px;
    &::after {
        bottom: -20px;
        height: 240px;
    }
}
.campaigns {
    .swiper-wrapper {
        width: auto;
        margin-left: -40px;
    }
    .swiper-slide {
        width: calc((100% / 3) - 40px);
        margin-left: 40px;
    }
}
.instagram-feed {
    background: $color1;
    padding-top: 60px;
}