.primary-categories {
    padding-top: 40px;
    background: $color1;
    color: $color2;
}
.new-season {
    background: $color1;
}
.collections {
    background: $color1;
    padding-top: 40px;
}
.campaigns {
    background: $color1;
}