.primary-categories {
    margin-top: 45px;
}
.design-uniform {
    margin-top: 96px;
}
.new-season {
    margin-top: 120px;
}
.collections {
    margin-top: 120px;
}
.campaigns {
    margin-top: 40px;
}