.ems-page-member {
    &-grid {
        > .ga1 {
            background: $color1;
            color: $color2;
        }
        > .ga2 {
            padding-bottom: 100px;
        }
    }

    .ems-new-address {
        padding-top: 0;
        .page-top-title {
            display: none;
        }
    }
}

.member-top-info {
    background: url(/images/frontend/member-top-info-bg.jpg) center top / contain no-repeat;
    text-align: center;
    padding: 40px 18px 18px;
    &-media {
        img {
            width: 80px;
            border-radius: 100%;
        }
    }
    &-title {
        font-size: 18px;
        margin-top: 10px;
    }
    &-logout {
        color: $color7;
        margin-top: 5px;
    }
}

.member-menu {
    li {
        a {
            background: none right 70px center / 32px no-repeat;
            transition: all .2s ease-in-out;
        }
        &:hover,
        &.selected {
            a {
                padding-left: 30px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23FFFFFF' d='M6 15h14v-3l6 4-6 4v-3H6z'/%3E%3C/svg%3E");
                background-position: right 30px center;
            }
        }
    }
    a {
        display: flex;
        align-items: center;
        padding: 9px 20px;
        font-weight: 700;
        letter-spacing: .93px;
    }
    svg {
        margin-right: 13px;
    }
    &-dropdown { ////
        border-top: 1px solid $color6;
        border-bottom: $color6;
    }
}