.ems-member-coupon {}

.coupon-tab {
    margin: 15px 10px 0;
    > a {
        @extend %btn-reset;
        font-family: $font3;
        font-size: 14px;
        font-weight: 700;
        border: 1px solid $color5;
        padding: 10px 20px;
        margin-left: 10px;
        margin-top: 10px;
    }
}

.ems-grid-table-coupon {
    margin-top: 25px;
    > .ems-grid-row {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .ems-grid-label {
        display: block;
        font-weight: 700;
    }
}