.ems-member-password {}

.btnSifreGuncelle {
    @extend .btnUyeBilgi;
}


//sifremi unuttum
.pageSifremiUnuttum {
    padding-top: 50px;
}

.pageHeaderSifremiUnuttum,
.pageDescSifremiUnuttum {
    display: none;
}

.pageErrorSifremiUnuttum {
    margin-bottom: 30px;
}

.tableSifremiUnuttum {
    max-width: 330px;
    tr {
        display: flex;
        flex-direction: column;
        + tr {
            margin-top: 20px;
        }
    }
    th {
        @extend .ems-form-label;
        text-align: left;
    }
}