.ems-step0 {
    .ems-grid-table-cart {
        > .ems-grid-row {
            grid-template-columns: 75px 1fr;
        }
    }
}

.cart-promotion-info {
    display: none;
    margin-top: 20px;
    margin-bottom: 30px;
}

.ems-cart-button {
    margin-top: 10px;
}

.pnlDipToplamTable {
    font-family: $font2;
    color: $color6;
    th, td {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    th {
        font-weight: normal;
        text-align: right;
    }
    td {
        width: 80px;
        font-weight: 700;
        > span {
            justify-content: flex-end;
            .d {
                display: inline;
            }
        }
    }
    .pnlDipToplam_sipToplam {
        th, td {
            color: $color1;
            font-weight: 700;
        }
    }
}

.ems-cart-coupon {
    margin-top: -48px;
    .ems-form-label-custom {
        display: inline-block;
        margin-bottom: 15px;
        font-family: $font2;
        font-size: 14px;
        color: inherit;
    }
    .input-btn {
        input + table {
            right: 8px;
            font-size: 0;
        }
    }
    .btnHediyeCekiKullan {
        padding-left: 0;
        padding-right: 0;
        .icon-arrow-r {
            margin-left: 0;
        }
    }
    [id$="lblHCK_HATA"]:not(:empty) {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
.ems-cart-coupon-info {
    position: relative;
    [id$="lblKuponKodBilgi"]:not(:empty) {
        font-size: 16px;
        font-weight: 700;
    }
    a.btnHediyeCekiIptal {
        @extend %btn-reset;
    }
}

.customer-support {
    display: none;
    font-family: $font2;
    font-size: 15px;
    margin-top: 20px;
    .ems-section-title {
        font-size: inherit;
        text-align: inherit;
        margin-bottom: 10px;
    }
    li {
        margin-top: 5px;
    }
    
    &-append {
        .customer-support {
            display: block;
        }
    }
}