.ems-delivery {
    &-grid {
        grid-template-columns: 1fr 780px 20px 380px 1fr;
        grid-template-areas: ". ga1 . ga2 .";

        @include setGridArea(1,2);
    }
}

.ems-grid-table-address {
    .ems-grid-row {
        grid-template-columns: 1fr 1fr;
    }
}

a.btnAdresEkle {
    padding: 10px 0;
}

.ems-delivery-tab {
    width: 100%;
}