.ems-page-product-list {
    padding-bottom: 40px;
}

.ems-prd-list-count {
    margin-top: 20px;
    padding: 0 20px;
    font-family: $font2;
    font-size: 15px;
}

.primary-box {
    background: $color1;
    color: $color2;
    padding: 40px 30px 50px;
    .ems-section-title {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .banner {
        max-width: 216px;
        + .banner {
            margin-left: 34px;
        }
    }
}

.page-cover-image {
    .banner {
        .prm-media {
            img {
                height: 378px;
                object-fit: cover;
            }
        }
    }
}

.page-cover-video {
    background: $color1;
    color: $color2;
}

.top-buttons {
    margin-top: 20px;
    padding: 0 20px;
    a {
        border: none;
        line-height: normal;
        padding: 0;
    }
}

ul.product-list-grid {
    margin-top: 20px;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    > li {
        overflow: hidden;
    }
    .view-1 & {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}

.urunPaging_btnKiyaslama,
.urunPaging_paging {
    display: none;
}