.ems-page-product-list {
    padding-bottom: 40px;
}

.ems-prd-list-count {
    margin-top: 20px;
    padding: 0 20px;
    font-family: $font2;
    font-size: 15px;
}

.top-buttons {
    margin-top: 20px;
    padding: 0 20px;
    a {
        border: none;
        line-height: normal;
        padding: 0;
    }
}

ul.product-list-grid {
    margin-top: 20px;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    > li {
        overflow: hidden;
    }
    .view-1 & {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}

.urunPaging_btnKiyaslama,
.urunPaging_paging {
    display: none;
}