.ems-page-product-list {
    padding-bottom: 80px;
    
    &-grid {
        position: relative;
    
        grid-template-columns: 1fr 180px 60px minmax(700px, 900px) 1fr;
        grid-template-areas:
        "ga1 ga1 ga1 ga1 ga1"
        ". ga2 . ga3 .";
        grid-row-gap: 40px;
    
        @include setGridArea(1,3);
    }

    .navigasyon {
        position: absolute;
        padding: 40px;
        color: $color2;
    }
}

ul.product-list-grid {
    margin-top: 30px;

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 45px;

    .view-2 & {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
}