.footer-menu {
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    font-family: $font2;
    font-size: 15px;
    line-height: 2;
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}