.social-links {
    margin-top: 50px;

    $p: 20px;
    .swiper-inner {
        margin-left: #{-$p};
    }
    .swiper-slide {
        padding-left: #{$p};
        width: auto;
    }
    svg {
        font-size: 50px;
    }
}