.banner {
    .prm-title {
        font-size: 40px;
    }
    .prm-sub-title {
        font-size: 40px;
    }
    
    &-body {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 50px;
        padding-right: 50px;
        text-align: left;
    }

    //banner type01
    &01 {
        .banner-body {
            @include banner-body-bottom;
            padding: 30px;
        }
        .prm-title {
            font-size: 30px;
            padding-right: 160px;
        }
        .prm-url {
            @include ems-cover;
        }
    }

    //banner type02
    &02 {
        .banner-body {
            padding: 20px 75px;
        }
        .btn {
            background: $color2;
            color: $color1;
            &:hover {
                background: $color3;
            }
        }
    }

    //banner type03
    &03 {
        .banner-body {
            @include banner-body-bottom;
            padding: 40px 50px;
        }
        .btn {
            padding-left: 0;
            padding-right: 0;
            margin-top: 0;
        }
    }

    //banner type04
    &04 {
        .banner-body {
            @include banner-body-static;
        }
        .prm-title {
            font-size: 30px;
        }
        .btn {
            position: static;
            margin-top: 5px;
            padding-left: 0;
            padding-right: 0;
            width: auto;
            height: auto;
            font-size: 16px;
            > span {
                display: flex;
            }
        }
    }

    //banner type05
    &05 {
        .banner-body {
            @include banner-body-bottom;
            padding: 20px;
        }
        .prm-title {
            font-size: 14px;
        }
    }

    //banner type06
    &06 {}

    //banner type07
    &07 {
        .banner-body {
            @include banner-body-bottom-revert;
        }
        .prm-title {
            font-size: 50px;
        }
    }

    //banner type08
    &08 {
        position: static;
        .prm-media {
            video {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
            }
        }
    }

    //banner type09
    &09 {
        .banner-body {
            @include banner-body-bottom;
            padding: 24px;
        }
        .prm-title {
            font-size: 22px;
            text-shadow: 0 0 35px #000;
        }
    }

    //banner type10
    &10 {
        .banner-body {
            @include banner-body-static;
        }
        .prm-title {
            font-size: 14px;
        }
        .prm-desc {
            font-size: 14px;
        }
    }

    //banner type11
    &11 {
        .prm-title {
            font-size: 30px;
        }
    }    
}