@mixin banner-body-bottom {
    top: auto;
    bottom: 0;
    transform: none;
}
@mixin banner-body-bottom-revert {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
}
@mixin banner-body-static {
    position: static;
    transform: none;
}
.banner {
    position: relative;
    overflow: hidden;
    color: $color2;
    .prm-media {
        display: block;
        img,
        video {
            width: 100%;
        }
        video {
            &[poster] {
                object-fit: cover;
                object-position: center top;
            }
        }
    }
    .prm-title {
        font-size: 24px;
        b {
            font-weight: 700;
        }
    }
    .prm-marker {
        position: absolute;
        right: 26px;
        top: 70%;
        transform: translateY(0) scale(.8);
        opacity: 0;
        transition: all .32s ease;
        background: transparent;
        border-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    .btn-transparent {
        border-color: transparent;
    }
    .btn + .btn {
        margin-left: 20px;
    }
    .prm-desc {
        font-family: $font2;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        a {
            color: $color7;
        }
    }
    .prm-url-full {
        @include ems-cover;
    }

    &-body {
        position: relative;
        width: 100%;
        padding: 25px 20px 40px;
        text-align: center;
    }

    &:hover {
        .prm-marker {
            top: 50%;
            transform: translateY(-50%) scale(1);
            opacity: 1;
        }
    }

    //banner type01
    &01 {
        .prm-url {
            display: block;
            border-color: $color5;
        }
    }

    //banner type02
    &02 {
        .btn {
            margin-top: 20px;
        }
    }

    //banner type03
    &03 {
        .btn {
            margin-top: 10px;
        }
    }

    //banner type04
    &04 {
        .banner-body {
            text-align: left;
            padding: 20px 0;
        }
        .prm-title {
            font-size: 16px;
        }
        .prm-desc {
            font-size: 16px;
            margin-top: 5px;
            margin-bottom: 0;
        }
        .btn {
            @include ems-cover;
        }
    }

    //banner type05
    &05 {}

    //banner type06
    &06 {
        height: 100%;
        .banner-body {
            @include banner-body-static;
            height: 100%;
            padding: 30px 20px 40px;
        }
        .prm-title {
            font-size: 30px;
        }
        .prm-desc {
            font-size: 15px;
        }
    }

    //banner type07
    &07 {
        .prm-media {
            text-align: center;
        }
        .banner-body {
            position: absolute;
            @include banner-body-bottom;
            text-align: center;
        }
        .prm-title {
            font-size: 30px;
            > * {
                display: block;
            }
            i {
                font-style: normal;
                letter-spacing: .75em;
                margin-bottom: 1em;
            }
            b {
                letter-spacing: 3px;
            }
        }
        .btn {
            margin-top: 50px;
        }
    }

    //banner type08
    &08 {}

    //banner type09
    &09 {}

    //banner type10
    &10 {
        border: 1px solid $color5;
        .banner-body {
            @include banner-body-static;
            padding: 15px 20px;
            text-align: left;
        }
        .prm-title {
            font-size: 14px;
            color: $color4;
            font-weight: 700;
        }
        .prm-desc {
            font-size: 14px;
            color: $color1;
            margin-top: 10px;
        }
    }

    //banner type11
    &11 {
        .prm-media {
            max-width: 1200px;
            margin: 50px auto 0;
        }
        .banner-body {
            @include banner-body-static;
            text-align: center;
        }
        .prm-title {
            font-size: 30px;
        }
    }
}