.box {
    position: relative;
    overflow: hidden;

    &-title {
        font-size: 30px;
        color: #fff;
        font-weight: 700;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 30px;
    }

    &-url {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0 20px;
        transform: translateY(0) scale(.5);
        opacity: 0;
        transition: all .32s ease;
        .btn {
            border-color: transparent;
            background: none;
        }
    }

    &:hover {
        .box-url {
            opacity: 1;
            transform: translateY(-26px) scale(1);
        }
    }

    + .box {
        margin-left: 15px;
    }

    .btn-cat-url {
        display: block;
    }
}