.navigasyon {
    padding: 20px;
    font-size: 22px;
    ol {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            line-height: 34px;
        }
        .icon-breadcrumb {
            float: left;
        }
    }
}

.navigation-full-path {
    font-size: 22px;
    color: $color5;
    font-weight: 700;
    margin-top: 10px;
}