.navigasyon {
    font-family: $font2;
    font-size: 13px;
    ol {
        li {
            display: inline-block;
            line-height: 24px;
            &:not(.navigasyonSeviye1) {
                margin-left: 5px;
                &::before {
                    content: "/";
                    margin-right: 5px;
                }
            }
        }
        .icon-breadcrump {
            display: none;
        }
    }
}