.navigasyon {
    font-family: $font2;
    font-size: 13px;
    padding-left: 40px;
    padding-right: 40px;
    ol {
        li {
            display: inline-block;
            line-height: 24px;
            &:not(.navigasyonSeviye1) {
                margin-left: 5px;
                &::before {
                    content: "/";
                    margin-right: 5px;
                }
            }
            &:nth-of-type(1) {
                opacity: .25;
            }
            &:nth-of-type(2) {
                opacity: .50;
            }
            &:nth-of-type(3) {
                opacity: .75;
            }
            &:last-child {
                opacity: 1;
            }

        }
        .icon-breadcrumb {
            display: none;
        }
    }
}