//HIERARCHY MENU
.mobi-dropdown {
    > ul {
        display: block;
        position: relative;
        > li {
            &.selected,
            &.act {
                display: block;
            }
        }
    }
}
//SYSTEM MENU
.kutuSolMenuTree {
    .mobi-dropdown {
        > a {
            display: block;
        }
    }
}

//SECTION BG
.section-bg {
    &01 {
        background-size: 980px;
        height: 240px;
    }
}
