.design-uniform {
    $skew:73px;
    min-height: 550px;
    padding-left: calc(((100% - #{$container-large}) / 2) - #{$skew});
    > .ga1 {
        flex-basis: 750px;
    }
    > .ga2 {
        display: block;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: calc((100% - #{$container-large}) / 2);
        height: 100%;
        background: $color4;
        @include setCurve(-7, -35);
    }
}
.uniform {
    &-preview {
        min-height: 100%;
    }
    &-image-container {
        max-width: 400px;
    }
    &-360 {
        visibility: visible;
    }
    &-options {
        padding: 45px 150px 100px 0;
        background: $color14;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 25%;
            height: 100%;
            background: inherit;
            @include setCurve(-7, -80);
        }
        > div {
            padding: 0;
            &:not(.selected) {
                display: block;
            }
            &.ems-flex {
                display: flex;
            }
        }
    }
    &-gender {
        a {
            padding: 0;
            border: none;
        }
        a + a {
            margin-left: 40px;
        }
    }
    &-color {
        margin-top: 30px;
    }
    &-select-size {
        margin-top: 20px;
    }
    &-tab {
        margin-top: 20px;
    }
    &-add-to-cart {
        margin-top: 30px;
    }
    &-price {
        margin-bottom: 0;
    }
}