.kutuOzellikFiltre {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: $color3;
    color: $color1;

    .btn-close {
        display: inline-flex;
    }
}
.kutuHeaderOzellikFiltre {
    background: $color2;
    padding: 21px 20px;
    font-size: 22px;
    font-weight: 700;
}
.kutuBodyOzellikFiltre {
    font-family: $font2;
    font-size: 15px;
    height: calc(100% - 144px);
    overflow-x: auto;
}
#dvUrunKiyaslamaOzellik  {
    border-bottom: 1px solid $color5;
    margin: 0 20px;
    padding: 0 10px;
}
.urunKiyaslamaOzellik_ozellikAd {
    position: sticky;
    top: 0;
    background-color: $color3;
    font-weight: 700;
    padding: 18px 0;
    @extend .base64;
    @extend .base64-minus;
    background-position: right center;
    transition: background-image .25s ease;
    user-select: none;
    cursor: pointer;
    &.kapali {
        @extend .base64-plus;
    }
}
.urunKiyaslamaOzellik_temizle {
    display: none;
}
.urunKiyaslamaOzellik_ozellikIcerik {
    padding: 0 0 15px;
}
.urunKiyaslamaOzellik {
    display: block;
    padding: 11px 10px 10px 24px;
    @extend .base64;
    @extend .base64-check;
    background-position: left center;
    &.link_selected {
        @extend .base64-check-active;
    }
}
.kutuFooterOzellikFiltre {
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    > div {
        flex: 1;
    }
    a {
        display: block;
        line-height: 48px;
    }
}
.urunKiyaslamaOzellik_tumunuTemizle:not(:empty) {
    display: block !important;
    margin-right: 10px;
}


//seçili filtreler
.pnlUrunKiyasSecim {
    display: none;
    margin-top: 20px;
}
.urunKiyaslamaOzellik_secimbaslik,
.urunKiyaslamaOzellik_UrunSayi {
    display: none;
}
.urunKiyaslamaOzellik_secimler {
    $marginl: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -$marginl;
    font-family: $font2;
    > div {
        background: $color10;
        color: #000;
        padding: 11px 12px;
        margin-left: $marginl;
        margin-top: 10px;
    }
}
.ozellikFiltreBaslik {
    display: block;
    font-size: 15px;
    font-weight: 700;
}
.ozellikFiltreSecim {
    font-size: 13px;
    > a {
        @extend .base64;
        @extend .base64-remove;
        background-position: left center;
        padding: 0 10px 0 30px;
        line-height: 32px;
    }
}