input:not([type=checkbox]):not([type=radio]),
select, .sStylerWrp_select,
textarea {
    font-family: $font2;
    font-size: 15px;
    background: $color2;
    color: $color1;
    font-weight: 400;
    line-height: 2.8;
    letter-spacing: .7px;
    width: 100%;
    padding: 0 15px;
    border: 1px solid $color5;
    outline: none;
}

input:disabled,
input:read-only {
    background: $color7;
}

select {
    padding-top: 11px;
    padding-bottom: 11px;
}

textarea {
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
    resize: none;
}

[id$="CEPTELEFONALAN"] {
    width: 65px !important;
    margin-right: 5px;
    text-align: center;
}
[id$="CEPTELEFON"] {
    width: calc(100% - 70px) !important;
}

.ems-form {
    position: relative;
    .ems-field {
        margin-top: 20px;
        &.submit {
            a.btnDefault {
                width: 100%;
            }
        }
        &-small {
            margin-top: 10px;
        }
    }
    &-label {
        position: relative;
        font-family: $font2;
        font-size: 13px;
        color: $color6;
        font-weight: 500;
        margin-bottom: 5px;
        &:empty {
            display: none;
        }
    }
    &-obj {
        position: relative;
        &:empty {
            display: none;
        }
        > span,
        > label {
            font-family: $font2;
            font-size: 15px;
        }
        &.chk-padding {
            padding-left: 20px;
            > .checkbox {
                position: absolute;
                left: 0;
            }
        }
        &.input-btn {
            input {
                width: 100% !important;
                padding-right: 60px;
                + * {
                    width: auto;
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    color: #000;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

.sStylerMainWrp {
    position: relative;
}

.sStylerWrp_checkbox,
.sStylerWrp_radio {
    display: inline-block;
    vertical-align: -0.1em;
    margin-right: 7px;
    user-select: none;
    > span {
        display: block;
        svg {
            display: block;
            font-size: 13px;
            &[class*="active"] {
                display: none;
            }
        }
        &.checked {
            svg {
                display: none;
                &[class*="active"] {
                    display: block;
                }
            }
        }
    }
    input {
        display: none !important;
    }
}
.sStylerWrp_select {
    display: inline-block;
    vertical-align: middle;
    select {
        position: absolute;
        left: 0;
        top: 0;
        width: 100% !important;
        height: 100%;
    }
    svg {
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
    }
    .icon-select-active {
        display: none;
    }
}

//captcha
[id$="divCaptcha"] {
    position: relative;
    br {
        display: none;
    }
    [id$="lbfUYE_KONTROLKODU"] {
        @extend .ems-form-label;
        display: block;
    }
    #imgCaptcha {
        position: absolute;
        left: 1px;
        top: 24px;
        height: 40px;
        border-right: 1px solid $color5;
        border-radius: 0 5px 5px 0;
    }
    input[id$="txtUYE_KONTROLKODU"] {
        padding-left: 190px;
        text-align: center;
        letter-spacing: 2.5px;
    }
    .captchaYenile {
        display: inline-flex;
        position: absolute;
        right: 0;
        top: 5px;
        > span {
            font-size: 11px;
        }
    }
}