.sub-close {
    position: absolute;
    right: 14px;
    top: 14px;
}

.sub-header {
    position: relative;
    background: $color3;
    padding: 18px 20px 19px;
    font-size: 18px;
    font-weight: 700;
}

.emos-confirm {
    max-width: 90%;
}