.ems-prdd {
    &-grid {
        position: relative;
    
        grid-template-columns: 1fr 770px 20px 370px 1fr;
        grid-template-rows: max-content 1fr;
        grid-template-areas:
        ". ga2 . ga1 ."
        ". ga2 . ga3 ."
        ". ga4 ga4 ga4 .";
    
        @include setGridArea(1,4);
    }

    &-gallery {
        margin-top: 0;
        .swiper-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
        }
    }
}

//sizes
.dropdown-options {
    > a {
        min-width: 46px;
        line-height: 32px;
    }
}

//added to cart
.mini-product-info {
    $p: 30px;
    &-sub {
        @extend %header-mods-sub;
        max-width: 600px;
        padding: $p;
    }
    .sub-header {
        margin: #{-$p} #{-$p} #{$p};
    }
    &-ready {
        .mini-product-info-sub {
            @extend %header-mods-sub-ready;
        }
    }
    &-animate {
        .mini-product-info-sub {
            @extend %header-mods-sub-animate;
        }
    }
}
.added-prd {
    .prm-media-holder {
        flex-basis: 140px;
    }
    .prm-content {
        padding-left: 30px;
    }
}
.suggest-prd {
    display: block;
}

//size guide
.mini-size-guide {
    &-sub {
        @extend %header-mods-sub;
        max-width: 910px;
    }
    &-ready {
        .mini-size-guide-sub {
            @extend %header-mods-sub-ready;
        }
    }
    &-animate {
        .mini-size-guide-sub {
            @extend %header-mods-sub-animate;
        }
    }
}