ul.product-list-grid {
    margin-top: 20px;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    > li {
        overflow: hidden;
    }
    .view-1 & {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}

$prd-bg: $color10;
$prd-pd-t: 13px;
$prd-pd-r: 20px;
$prd-pd-b: 15px;
$prd-pd-l: 20px;
.ems-prd {
    &-inner {
        position: relative;
    }
    &-body {
        background: $prd-bg;
        color: $color1;
        padding: $prd-pd-t $prd-pd-r $prd-pd-b $prd-pd-l;
    }
    &-name {
        font-family: $font3;
        font-size: 16px;
        > a {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &-price {
        margin-top: 4px;
        font-size: 18px;
        font-weight: 700;
    }
}

.urunListe_brutFiyat {
    text-decoration: line-through;
    + .urunListe_satisFiyat {
        margin-left: 10px;
        color: $color4;
    }
}

.ems-prd-badge {
    font-family: $font2;
    font-size: 13px;
    margin-top: 10px;
    min-height: 19px;
    > div {
        display: none;
        position: absolute;
        left: 0;
        top: auto;
        width: 100%;
        background: $prd-bg;
        padding: 0 $prd-pd-r;
        > span {
            display: block;
        }
    }
}
.indirimli {
    .urunListe_pnlIndirimOran {
        display: block !important;
        color: $color4;
    }
}
.yeniUrun {
    .urunListe_yeniUrun {
        display: block !important;
        color: $color11;
    }
}