@mixin padding-h {
    padding-left: 20px;
    padding-right: 20px;
}
@mixin padding-h-remove {
    margin-left: -20px;
    margin-right: -20px;
}
.ems-prdd-grid {
    > .ga1 {
        @include padding-h();
    }
    > .ga3 {
        @include padding-h();
    }
}
.ems-prdd {
    &-brand {
        font-family: $font2;
        font-size: 16px;
    }
    &-name {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: .5px;
    }
    &-block1 {
        margin-top: 7px;
    }
    &-price {
        font-size: 16px;
        font-weight: 700;
        [id*="KDVDAHILSATIS"] {
            display: none;
        }
    }
    &-badge {
        position: relative;
        width: 50%;
        margin-left: auto;

        font-family: $font2;
        font-size: 16px;
        > div {
            display: none;
            position: absolute;
            right: 0;
            top: 1px;
    
            background: $color2;
            > span {
                display: block;
            }
        }
    }
    &-gallery {
        margin-top: 20px;
    }
    &-size {
        margin-top: 15px;
        font-family: $font2;
        font-size: 13px;
    }
    &-add-to-cart {
        margin-top: 20px;
    }
    &-block2 {
        margin-top: 10px;
        > * {
            width: calc(50% - 5px);
        }
        a.btnDefault {
            width: 100%;
            padding-left: 3px;
            padding-right: 3px;
            @extend .btn-transparent;
        }
    }
}

//badges
.indirimli {
    #plhKazancOran {
        display: block !important;
        color: $color4;
    }
}
.yeniUrun {
    #plhYeniUrunBtn {
        display: block !important;
        color: $color11;
    }
}

//other colors
.UrunListeGrup_listeUrunDetayGrup {
    margin-top: 20px;
    .listeUrunDetayGrup_listeBaslik,
    .URN_AD {
        display: none;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        > li {
            width: 70px;
            height: 70px;
            overflow: hidden;
            cursor: pointer;
            + li {
                margin-left: 10px;
            }
        }
    }
    .URN_RESIM {
        margin-top: -7px;
    }
}

//sizes
.urunDetay_urunSecenek {
    $marginl: 5px;
    .dropdown-options {
        margin-left: -$marginl;
        > a {
            display: inline-block;
            min-width: 76px;
            padding-left: 5px;
            padding-right: 5px;
            line-height: 44px;
            border: 1px solid $color5;
            text-align: center;
            margin: $marginl;
            &.selectedOption {
                background: $color1;
                color: $color2;
            }
        }
    }
    .dropdown-trigger {
        display: noneeeeeeeee;
    }
}
.open-size-guide {
    display: inline-block;
    margin-top: 10px;
}

//add to cart
.urunDetay_urunAdet {
    position: relative;
    > input[type="text"] {
        padding-right: calc(100% - 60px);
        text-align: center;
        background: $color3;
    }
    > span {
        position: absolute;
        left: 60px;
        top: 0;
        line-height: 44px;
        font-family: $font2;
        font-size: 15px;
    }
}
.urunDetay_btnSepeteAt {
    margin-top: 20px;
}
a.btnsepeteAt {
    width: 100%;
}

//primary properties
.prop-container {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color10;    
}
.prop {
    font-family: $font2;
    font-size: 15px;
    color: $color7;
    &-title {
        margin-top: 3px;
    }
}

//mini desc
.mini-desc {
    font-family: $font2;
    font-size: 15px;
    img {
        width: 30px;
    }
}

//full desc
.fd {
    background: $color1;
    color: $color2;
    text-align: center;
    @include padding-h;
    padding-top: .1px;
    padding-bottom: 40px;
    margin-top: 40px;
    > * {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    &-title {
        margin-top: 40px;
        font-size: 24px;
        b {
            font-weight: 700;
        }
    }
    &-text {
        margin-top: 20px;
        font-size: 16px;
    }
    &-image {
        margin-top: 40px;
        @include padding-h-remove;
    }
    &-bg-stadium {
        background: url(/UPLOAD/banner/urun-aciklama/static/stadium.png) center top / 150% no-repeat;
        padding-top: 40%;
        margin-top: 0 !important;
    }
    &-wing {
        position: relative;
        overflow: hidden;
        &-l,
        &-r {
            position: absolute;
            top: 0;
            transition: transform .32s ease;
            max-width: 50vw;
        }
        &-l {
            left: 0;
            transform: rotate(-20deg);
            transform-origin: right center;
        }
        &-r {
            right: 0;
            transform: rotate(20deg);
            transform-origin: left center;
        }
        &-c {
            position: relative;
            max-width: 46vw;
            margin-top: 12vw;
        }
    }

    &-block {
        //image block
        &-image {
            .fd-image + .fd-image {
                margin-top: 20px;
            }
        }
    }
}