.type-video {
    .banner {
        display: none;
    }
}
.slide-video-btn {
    padding: 30px;
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}


//dark theme
.swiper-container-dark {
    background: $color1;
    .swiper-button-prev,
    .swiper-button-next {
        border-color: rgba($color: $color2, $alpha: .4);
    }
    .swiper-button-next, 
    &.swiper-container-rtl .swiper-button-prev {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23FFFFFF' d='M6 15h14v-3l6 4-6 4v-3H6z'/%3E%3C/svg%3E");
    }
    .swiper-button-prev, 
    &.swiper-container-rtl .swiper-button-next {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23FFFFFF' d='M6 15h14v-3l6 4-6 4v-3H6z'/%3E%3C/svg%3E");
    }
    .swiper-pagination {
        &-bullet {
            background: $color8;
            &-active {
                background: $color2;
            }
        }
    }
    .btn {
        @extend .btn-primary;
    }
}