.swiper-button-next {
    background: red;
    &::before {
        content: "";
        @include setTriangle(4px, transparent, red, transparent, transparent);
        position: absolute;
        left: -50px;
    }
}