//product widget
.swiper-product {
    $p: 30px;
    .swiper-inner {
        padding-left: 0;
        margin-left: #{-$p};
    }
    .swiper-slide {
        padding-left: #{$p};
        width: calc(100% / 3);
    }
}

//if navigation selected
.slider-navigation {
    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }
}

//swipe only mobile
.mobi-swiper {
    .swiper-button-prev,
    .swiper-button-next,
    .swiper-pagination {
        display: none;
    }
}

//swipe only desktop
.desktop-swiper {
    .swiper-pagination {
        display: block;
    }
}