.swiper-container {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: block;
}

//product widget
.swiper-product {
    max-width: 930px;
    .swiper-slide {
        padding: 0 15px;
    }
}