.ems-tab {
    position: relative;
    &-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
        > * {
            font-weight: 700;
            letter-spacing: .9px;
            padding: 10px 20px;
            border: 1px solid transparent;
            cursor: pointer;
            &.selected,
            &.emos_selected {
                border-color: $color5;
            }
        }
    }
    &-content {
        > * {
            display: none;
            &.selected {
                display: block;
            }
            &:not(.ajx-loaded) {
                background: url(/images/ajaxtabs/loading.gif) center center no-repeat;
            }
        }
    }

    //vertical
    &-vertical {
        .ems-tab-content {
            > * {
                border-bottom: 1px solid $color10;
                &.selected {
                    .ems-tab-inner-header {
                        @extend .base64-minus;
                    }
                    .ems-tab-inner-content {
                        display: block;
                    }
                }
            }
        }
        $p: 25px;
        .ems-tab-inner-header {
            @extend .base64;
            @extend .base64-plus;
            padding: $p 0;
            background-position: right center;
            transition: background-image .25s ease;
            font-weight: 700;
            cursor: pointer;
        }
        .ems-tab-inner-content {
            display: none;
            margin-top: -$p;
        }
    }
}