.ems-tab {
    position: relative;
    &-header {
        margin-bottom: 30px;
        > * {
            font-weight: 700;
            letter-spacing: .9px;
            cursor: pointer;
            padding: 10px 20px;
            border: 1px solid transparent;
            &.selected,
            &:first-child { // << sil
                border-color: $color5;
            }
        }
    }
    &-content {
        > * {
            display: none;
            &.selected,
            &:nth-child(1), //<<< sil
            &:nth-child(2), //<<< sil
            &:nth-child(3), //<<< sil
            &:nth-child(4), //<<< sil
            &:nth-child(5) { //<<< sil
                display: block;
            }
        }
    }
}