.site-header-grid {
    position: relative;
    grid-template-columns: 300px 1fr auto auto 150px 150px;
    grid-template-areas:
    "ga1 . ga2 ga3 ga4 ga5"
    "ga6 ga7 ga7 ga7 ga8 ga8";

    @include setGridArea(1,8);
    
    > .ga1,
    > .ga2,
    > .ga3,
    > .ga4,
    > .ga5 {
        line-height: 40px;
    }
    > .ga6,
    > .ga7,
    > .ga8 {
        line-height: 70px;
    }
}

.slogan {
    font-family: helvetica, arial;
    font-size: 13px;
    color: $color9;
    font-weight: normal;
    margin: 0;
    padding: 0 40px;
}

//header mods extend obj
%header-mods-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding: 0 10px;
    cursor: pointer;
}

%header-mods-sub {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    margin: 10px;
    width: calc(100% - 20px);
    background: $color2;
    color: $color1;
    line-height: normal;
    user-select: none;
}

.sub-close {
    position: absolute;
    right: 14px;
    top: 14px;
}

.sub-header {
    position: relative;
    background: $color3;
    padding: 18px 20px 19px;
    font-size: 18px;
    font-weight: 700;
}