.menu {
    $menubg: #eee;
    display: block;
    position: relative;
    background: $menubg;
    max-width: none;
    width: 100%;
    padding: 0 50px;
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 20px;
        height: 100%;
        background: inherit;
    }
    &::before {
        left: 0;
        @include setCurve(15, -10);
    }
    &::after {
        right: 0;
        @include setCurve(-15, 10);
    }

    li {
        > a {
            padding: 0;
            margin: 0;
            line-height: inherit;
            border-bottom: none;
            &:after {
                display: none;
            }
        }
        &:hover {
            position: static;
            width: auto;
            height: auto;
            background: none;
            > a {
                background: none;
                margin: 0;
                padding: 0;
                font-size: inherit;
            }
        }
        ul {
            display: block;
        }
    }

    .lvl-1 {
        display: flex;
        justify-content: space-between;
        > li {
            > a {
                margin: 0 5px;
                padding: 0 5px;
                &::after {
                    display: block;
                    content: "";
                    transform: none;
                    right: auto;
                    left: 0;
                    top: auto;
                    bottom: 0;
                    width: 0;
                    border-width: 4px;
                    border-color: transparent transparent currentColor transparent;
                    transition: all .2s ease;
                    opacity: 0;
                }
            }
            &:hover {
                > a {
                    background: none;
                    &::after {
                        opacity: 1;
                        width: 100%;
                    }
                }
                .sub {
                    display: flex;
                }
            }
        }
    }

    .sub {
        $subGap: 300px;
        display: none;
        position: absolute;
        left: -$subGap;
        top: 100%;
        z-index: 2;
        width: calc(100% + #{$subGap * 2});
        height: 360px;
        background: #eee;
        font-family: $font2;
        line-height: $line-height + .5;
        .r1,
        .r2 {
            position: relative;
            overflow: hidden;
        }
        .r1 {
            flex-basis: $subGap+30px;
            + .r2 {
                flex: 1;
            }
        }
        .r2 {
            margin-left: auto;
            margin-right: auto;
        }

        &-small {
            height: 220px;
        }
    }

    .skew-object {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 400px;
        height: 100%;
        background: rgba($color: $color4, $alpha: .75);
        @include setCurve(15, -52);
    }

    $iw: 248px;
    .img1, .img2 {
        position: absolute;
        top: 0;
        width: $iw;
        height: 100%;
    }
    .img1 {
        right: -$iw/2;
    }
    .img2 {
        left: -$iw/2;
        + .lvl-2 {
            padding-left: $iw/2 + 100px;
        }
    }

    .lvl-2 {
        height: 100%;
        column-count: 4;
        column-gap: 20px;
        padding: 30px;
        li {
            break-inside: avoid;
            &.h100 {
                height: 100%;
            }
            a {
                display: inline-flex;
            }
        }
    }

    .lvl-3 {
        > li {
            > a {
                font-weight: 400;
            }
        }
    }
}