.mini-user {
    position: relative;
    background: $color4;
    @include setCurve(-15, 25);
    > * {
        @include setCurve(15, 0);
    }
    &-info {
        > span {
            @extend %header-mods-title;
        }
    }
    &-sub {
        display: none;
        position: absolute;
    }
}