.mini-user {
    position: relative;
    &-info {
        background: $color4;
        @include setCurve(-15, 25);
        > * {
            @include setCurve(15, 0);
        }
        > span {
            @extend %header-mods-title;
        }
    }

    $ph: 40px;
    &-sub {
        @extend %header-mods-sub;
        max-width: 410px;
        padding: 30px $ph;
    }

    .kutuUyeGiris_profilFoto {
        display: inline-block !important;
        margin-right: 15px;
        img {
            border-radius: 100%;
            max-width: 60px;
        }
    }
    .btnKutuLogout {
        font-size: 14px;
        font-weight: 300;
        display: table;
        margin-top: 5px;
    }
    .mini-user-links {
        margin-top: 20px;
        font-family: $font2;
        font-size: 18px;
        a {
            line-height: 35px;
        }
    }

    .ems-obj-logon {
        .mini-user-sub {
            padding-top: 0;
        }
        .sub-header {
            margin-left: -$ph;
            margin-right: -$ph;
            padding-left: 40px;
            padding-right: 40px;
            > .ga2 {
                padding-right: 20px;
            }
        }
    }

    &-ready {
        .mini-user-overlay {
            display: block;
        }
        .mini-user-sub {
            display: block;
        }
    }
}