.mini-lang {
    &-info {
        position: relative;
        .icon-triangle-b {
            transition: transform .32s ease;
        }
        > span {
            @extend %header-mods-title;
        }
    }
    &-sub {
        @extend %header-mods-sub;
        width: auto;
        right: auto;
        margin: 40px 0 0 -55px;
        padding: 18px 30px;
        > a {
            display: block;
            width: auto;
        }
    }

    &-ready {
        .mini-lang-overlay {
            display: block;
        }
        .mini-lang-info {
            z-index: 10;
            .icon-triangle-b {
                @include rotate-x;
            }
        }
        .mini-lang-sub {
            display: block;
        }
    }
}