.mini-cart {
    position: relative;
    &-info {
        background: $color4;
        > span {
            @extend %header-mods-title;
        }
        #lblUrunAdet {
            margin-right: 4px;
        }
        [id$="lbfKUTU_URUN"] {
            display: flex;
            align-items: center;
        }
    }
    &-sub {
        @extend %header-mods-sub;
        max-width: 410px;
        padding: 0 20px 20px;
        .mcq {
            margin-left: 5px;
            font-size: 16px;
            font-weight: 300;
            vertical-align: 1px;
            > i {
                font-style: normal;
            }
        }
    }

    &-ready {
        .mini-cart-overlay {
            display: block;
        }
        .mini-cart-sub {
            display: block;
        }
    }
}
.kutuSepet_icerik {
    font-family: $font2;
    font-size: 16px;
    > .ems-row {
        position: relative;
        margin-top: 20px;
        > .r1 {
            flex-basis: 100px;
            margin-right: 15px;
        }
        > .r2 {
            flex: 1;
        }
        > .r3 {
            flex-basis: 50px;
        }
    }
}
.cart-prd {
    &-name {
        color: $color1;
        margin-bottom: 3px;
    }
    &-size {
        color: $color7;
    }
    &-quantity {
        color: $color7;
    }
    &-price {
        margin-top: 5px;
        font-family: $font1;
        font-size: 18px;
        font-weight: 700;
    }
    &-discount {
        color: $color4;
        margin-top: 5px;
    }
    &-proname:not(:empty) {
        margin-top: 5px;
        font-size: 12px;
        color: $color12;
    }
    &-remove {
        text-align: right;
        svg {
            font-size: 20px;
        }
    }
    &-url {
        @include ems-cover;
    }
    &-total {
        border-top: 1px solid $color3;
        margin-top: 15px;
        padding-top: 20px;
        font-family: $font2;
        font-size: 18px;
    }
    &-page-url {
        margin-top: 20px;
        .lnkSepet {
            display: block;
        }
    }
}