.mini-user {
    position: relative;
    background: $color4;
    @include setCurveR(15, 23);
    &-info {
        > span {
            @extend %header-mods-title;
        }
    }
    &-sub {
        display: none;
        position: absolute;
    }
}