.mini-search {
    position: relative;
    background: $color2;
    color: $color1;
    &-info {
        > span {
            @extend %header-mods-title;
            justify-content: flex-end;
            padding: 0 30px;
        }
        .icon-search {
            margin-left: 10px;
        }
    }
    &-sub {
        display: none;
        @extend %header-mods-sub;
        max-width: 910px;
        padding: 30px;
        .mcq {
            margin-left: 5px;
            font-size: 16px;
            font-weight: 300;
            vertical-align: 1px;
            > i {
                font-style: normal;
            }
        }
    }

    &-ready {
        .mini-search-overlay {
            display: block;
        }
        .mini-search-sub {
            display: block;
        }
    }
}

.popular-search-words {
    font-family: $font2;
    font-size: 15px;
    .ems-section-title {
        font-size: inherit;
        font-weight: 500;
        margin-bottom: 0;
    }
    .ems-section-wrapper {
        > li {
            margin-left: 30px;
        }
    }
}