.mini-lang {
    &-info {
        > span {
            @extend %header-mods-title;
        }
    }
    &-sub {
        display: none;
        position: absolute;
        left: 50%;
        top: 100%;
        z-index: 2;
        transform: translateX(-50%);
        background: $color2;
        padding: 13px 20px;
        line-height: normal;
        > a {
            display: block;
            color: $color1;
            width: auto;
            padding: 7px 15px;
        }
    }
}