*,
*::after,
*::before {
    box-sizing: border-box;
}

::selection {
    background: $color4;
    color: $color2;
}

html {
    position: relative;
    &::before {
        display: none;
    }
}

body {
    margin: 0;
    overflow-y: scroll;
    font-family: $font1, arial;
    font-size: $font-size;
    color: $color1;
    font-weight: $font-weight;
    line-height: $line-height;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

img,
canvas,
video {
    max-width: 100%;
    vertical-align: middle;
}

ul:not(.ul-list) {
    margin: 0;
    padding: 0;
    list-style: none;
}