html {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
body {
    background: $color1;
    color: $color2;
}

.obj-desktop,
.site-container {
    display: none;
}

.ie-popup {
    display: block;
    font-size: 20px;
    padding: 0 20px;
    border: 1px solid $color2;
}